@{
    ViewBag.Title = "Home Page";
}

<button id="showTableButton">Näytä taulukko</button>
<div id="tableContainer"></div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Odota, että koko dokumentti on ladattu ja valmis
        $(document).ready(function () {
            // Etsi nappi ja taulukon säiliödivi
            var showTableButton = $('#showTableButton');
            var tableContainer = $('#tableContainer');

            // Lisää tapahtumankäsittelijä napille
            showTableButton.click(function () {
                // Lähetä pyyntö palvelimelle ja hae taulukon HTML
                $.get('@Url.Action("ReadIndex", "Card")', function (data) {
                    // Lisää taulukon HTML säiliödiviin
                    tableContainer.html(data);
                });
            });
        });
    </script>
}



