@model RefRecipe.Data.Material

@{
    ViewData["Title"] = "Create";
}

<h1 style="color: blue;">Luo uusi raaka-aine</h1>

<hr />
<style>

    h1 {
      
        background-image: url("/Materials/refrescologo.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .form-group {
        background-image: url("/Materials/refrescologo.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .custom-main {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

</style>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
            <div class="form-group">
                <label asp-for="Koodi" class="control-label" style="font-size: 20px; color: blue;"></label>
                <input asp-for="Koodi" class="form-control" />
                <span asp-validation-for="Koodi" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Nimi" class="control-label" style="font-size: 20px; color: blue;"></label>
                <input asp-for="Nimi" class="form-control" />
                <span asp-validation-for="Nimi" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="Sijainti" class="control-label" style="font-size: 20px; color: blue;"></label>
                <input asp-for="Sijainti" class="form-control" />
                <span asp-validation-for="Sijainti" class="text-danger"></span>
            </div>
       
            <div class="form-group">
                <label for="password">Anna salasana :</label>
                <input type="password" id="password" name="password" />
                <input type="submit" value="Luo uusi raaka-aine" class="btn btn-primary" />
            </div>
            
        </form>
    </div>
</div>
@if (ViewBag.ErrorMessage != null)
{
    <div class="text-danger">@ViewBag.ErrorMessage</div>
}

<div>
   
   <!-- <a class="btn-group" href="https://localhost:7013/">Back to List</a> -->
    <a class="btn-group" href="/Materials">Takaisin raaka-aine listaan</a>
</div>
<a href="https://www.refresco.fi/fi/"> <img src="/refrescologo.png" width="40%" height="20%" /></a>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
