@model RefRecipe.Data.Shiftreport

@{
    ViewData["Title"] = "Create";
    
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RefRecipe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RefRecipe.styles.css" asp-append-version="true" />
</head>
<style>

    body {
        background-image: url('refrescologo.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .custom-main {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

</style>
<body>

    <h1 style="color: blue;">Luo uusi vuororaportti</h1>
<hr />
<div class="row" >
    <div class="col-md-6 offset-md-3">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                    <!--  <label asp-for="Header" class="control-label" style="font-size: 20px; color: blue;"></label> -->
                <h3 style="font-size: 20px; color: blue;"> Otsikko</h3>
                <input asp-for="Header" class="form-control" />
                <span asp-validation-for="Header" class="text-danger"></span>
            </div>

                <div class="form-group">
                    <!-- <label asp-for="Report" class="control-label" style="font-size: 20px; color: blue;"></label> -->
                    <h3 style="font-size: 20px; color: blue;"> Vuororaportti</h3>
                    <textarea asp-for="Report" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Report" class="text-danger"></span>
                </div>
           <!-- <div class="form-group">
                <label asp-for="Timestamp" class="control-label" style="font-size: 20px; color: Blue;"></label>
                <input asp-for="Timestamp" class="form-control" readonly />
                <span asp-validation-for="Timestamp" class="text-danger"></span>
                  </div> -->
               

            <div class="form-group">
                <label for="password">Anna salasana :</label>
                <input type="password" id="password" name="password" />
                <input type="submit" value="Luo uusi raportti" class="btn btn-primary" />
            </div>
        
        </form>
    </div>
</div>
</body>
</html>
@if (ViewBag.ErrorMessage != null)
{
<div class="text-danger">@ViewBag.ErrorMessage</div>
}

<div>
   
    <a class="btn-group" href="/Shiftreport/Index">Takaisin vuororaportti listaan</a>
</div>
<a href="https://www.refresco.fi/fi/"> <img src="/refrescologo.png" width="40%" height="20%" /></a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
