@model RefRecipe.Data.Shiftreport

@{
    ViewData["Title"] = "Delete";
}


<h1 style="color: red">Oletko varma että haluat poistaa tämän vuororaportin?</h1>
<hr />

<div class="row">
    <div class="col-md-6 offset-md-3">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
            <div class="form-group">
                <!--  <label asp-for="Header" class="control-label" style="font-size: 20px; color: orangered;"></label> -->
                <h3 style="font-size: 20px; color: red;"> Otsikko</h3>
                <input asp-for="Header" class="form-control" readonly />
                <span asp-validation-for="Header" class="text-danger"></span>
            </div>
     
           <!-- <div class="form-group">
                <label asp-for="Report" class="control-label" style="font-size: 20px; color: orangered;"></label>
                <input asp-for="Report" class="form-control" readonly />
                <span asp-validation-for="Report" class="text-danger"></span>
             </div> -->

            <div class="form-group">
                <!-- <label asp-for="Report" class="control-label" style="font-size: 20px; color: orangered;"></label> -->
                <h3 style="font-size: 20px; color: red;"> Vuororaportti</h3>
                <textarea asp-for="Report" class="form-control" readonly rows="5"></textarea>
                <span asp-validation-for="Report" class="text-danger"></span>
            </div>
     
            <div class="form-group">
                <label for="password">Enter Password:</label>
                <input type="password" id="password" name="password" />
                <input type="submit" value="Poista vuororaportti" class="btn btn-primary" />
            </div>
           
        </form>
    </div>
</div>
@if (ViewBag.ErrorMessage != null)
{
    <div class="text-danger">@ViewBag.ErrorMessage</div>
}

<div>
    <a class="btn-group" href="/Shiftreport/Index">Takaisin vuororaportti listaan</a>
</div>
<a href="https://www.refresco.fi/fi/"> <img src="/refrescologo.png" width="40%" height="20%" /></a>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
