<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RefRecipe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RefRecipe.styles.css" asp-append-version="true" />
</head>

<style>
   
    body {
        background-image: url('refrescologo.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .custom-main {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

</style>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color: firebrick; font-weight: bold;">RefRecipe</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <span style="margin-right: 100px;"></span>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" style="color: green; font-weight: bold;">Home</a>
                        </li>
                        <span style="margin-right: 100px;"></span>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy" style="color: red; font-weight: bold;">HELP</a>
                        </li>
                        <span style="margin-right: 100px;"></span>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Materials" asp-action="Index" style="color: blue; font-weight: bold;">MaterialsIndex</a>
                        </li>
                        <span style="margin-right: 100px;"></span>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Card" asp-action="Index" style="color: yellow; font-weight: bold;">ReadCard</a>
                        </li>
                        <span style="margin-right: 100px;"></span>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Produced" asp-action="Index" style="color: darkorange; font-weight: bold;">Produced</a>
                        </li>
                        <span style="margin-right: 100px;"></span>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Card" asp-action="ReadIndex">ReadCard2</a>
                        </li>
                        
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="pb-3 container-fluid ml-3 mr-3">
        <main role="main" class="text-center">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.ToString("dd/MM/yyyy") - RefRecipe - <a asp-area="" asp-controller="Home" asp-action="Privacy">HELP</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
