@model RefRecipe.Data.Recipe

@{
    ViewData["Title"] = "Create";
}

<h1 style="color: orangered">Add This To Ready List</h1>



<hr />

<div class="row">
    <div class="col-md-6 offset-md-3">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label asp-for="Koodi" class="control-label" style="font-size: 20px; color: orangered;"></label>
                <input asp-for="Koodi" class="form-control" readonly />
                <span asp-validation-for="Koodi" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Nimi" class="control-label" style="font-size: 20px; color: orangered;"></label>
                <input asp-for="Nimi" class="form-control" readonly />
                <span asp-validation-for="Nimi" class="text-danger"></span>
            </div>
           <!-- <div class="form-group">
                <label asp-for="Timestamp" class="control-label" style="font-size: 20px; color: orangered;"></label>
                <input asp-for="Timestamp" class="form-control" readonly />
                <span asp-validation-for="Timestamp" class="text-danger"></span>
             </div> -->




            <div class="form-group">
               <!-- <label for="password">Enter Password:</label>
                 <input type="password" id="password" name="password" /> -->
                <input type="submit" value="Add To Ready List" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>
@if (ViewBag.ErrorMessage != null)
{
    <div class="text-danger">@ViewBag.ErrorMessage</div>
}

<div>
    <a class="btn-group" href="/Produced">Back To Produced List</a>
</div>
<a href="https://www.refresco.fi/fi/"> <img src="/refrescologo.png" width="40%" height="20%" /></a>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

