@{
    ViewBag.Title = "Home Page";
}

@if (ViewBag.ErrorMessage != null)
{
    <div>@ViewBag.ErrorMessage</div>
}

<form method="post" action="@Url.Action("Index", "Home")">
    <label for="password">Salasana:</label>
    <input type="password" id="password" name="password" />
    <input type="submit" value="Kirjaudu" />
</form>