@model List<List<string>>

<style>
    .row-border {

        border: 1px solid black;
        margin-bottom: 5px;
        line-height: 150%;

    }
    .cell-border {

        border: 1px solid blue;
        margin-bottom: 5px;
        line-height: 150%;
    }

    .ExcelTable {
        font-style: italic;
        font-weight: 600;
    }


</style>
<table class="ExcelTable">
    @foreach (var row in Model)
    {
                    <tr style="background-color: @(Model.IndexOf(row) % 2 == 0 ? "gray" : "white")">

            @foreach (var cell in row)
            {
                /* <td>@Math.Round(row.Count)</td> */
                                <td class="cell-border">@cell</td>
            }
                    </tr>
    }
</table>

/* class="row-border" */