@model List<List<string>>

<style>
    .row-border {
        border: 1px solid black;
        margin-bottom: 5px;
        line-height: 150%;
         
    }

    .cell-border {
        border: 2px solid blue;
        margin-bottom: 5px;
        line-height: 150%;
    }

    .ExcelTable {
        font-style: italic;
        font-weight: 500;
        color: red;
        width: 100%;
        height: 120%;
    }

    .checkbox {
        width: 30px; /* Määritä leveys */
        height: 30px; /* Määritä korkeus */
    }

</style>

<script>
    function handleCheckboxChange(checkbox) {
        var submitButton = document.getElementById("submitButton");
        if (checkbox.checked) {
            // Checkbox on valittu, vaihda napin teksti ja väri
            submitButton.innerHTML = "All Materials Added.. Click ME";
            submitButton.classList.remove("btn-primary");
            submitButton.classList.add("btn-success");
            submitButton.disabled = false;
        } else {
            // Checkbox ei ole valittu, palauta alkuperäinen teksti ja väri
            submitButton.innerHTML = "Checkbox When Materials Added";
            submitButton.classList.remove("btn-success");
            submitButton.classList.add("btn-primary");
            submitButton.disabled = true;
        }
    }

    function submitForm() {
        var password = document.getElementById("password").value;
        // Tee jotain lomakkeen lähettämiseen liittyvää
    }
</script>

<div class="row">
    <div class="col-6">
        <a class="p-1 m-lg-2 btn btn-sm btn-info" href="/Home/AuthIndex2">Back To List</a>
    </div>
    <div class="col-4 text-center">
        <form method="post" asp-controller="Produced" asp-action="Create">

            <input type="checkbox" id="myCheckbox" class="checkbox" onchange="handleCheckboxChange(this)" />
            <button type="submit" class="btn btn-primary" id="submitButton" disabled>Checkbox when all Components Added </button>
            <!-- <button type="submit" class="btn btn-primary" id="submitButton">Checkbox When Materials Added</button> -->

        </form>
    </div>
  

</div>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
        
    </div>
}


<table class="ExcelTable">
    @foreach (var row in Model)
    {
        <tr style="background-color: @(Model.IndexOf(row) % 2 == 0 ? "lightblue" : "white")">

            @foreach (var cell in row)
            {


                double cellValue;
                if (double.TryParse(@cell, out cellValue))
                {

                    <td class="cell-border">@string.Format("{0:0.00}", cellValue)</td>
                }
                else
                {

                    <td class="cell-border">@cell</td>
                }

            }
        </tr>
    }
</table>





    
